<div class="form-container mat-elevation-z5">
    <div class="center margin-top">
        <h1>Logowanie</h1>
    </div>
    <form [formGroup]="logowanie">
        <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Hasło" formControlName="haslo" type="password">
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">Zaloguj</button>
        </div>
    </form>
</div>
