h1{
    text-align: center;
    font-size: 32px;
}
p{
    text-align: center;
}

.regulamin{
    display: block;
    max-width: 600px;
    margin: auto;
    background-color: #eceff1;
    padding: 48px;
    border-radius: 16px;
}