<div class="form-container mat-elevation-z5">
    <div class="center margin-top">
        <h1>Rejestracja</h1>
    </div>
    <form [formGroup]="rejestracja" (ngSubmit)="formSubmit()">  
        <mat-form-field>
            <input matInput placeholder="Imie" formControlName="imie" [(ngModel)]="uzytkownik.imie" name="imie">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nazwisko" formControlName="nazwisko" [(ngModel)]="uzytkownik.nazwisko" name="nazwisko">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email" [(ngModel)]="uzytkownik.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Hasło" formControlName="haslo" type="password" [(ngModel)]="uzytkownik.haslo" name="haslo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefon" formControlName="telefon" [(ngModel)]="uzytkownik.telefon" name="telefon">
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">Zarejestruj</button>
        </div>
    </form>
</div>

