<mat-toolbar color="primary">
  <div class="menu">
    <button mat-button routerLink="app">STRONA GŁÓWNA</button>
    <button mat-button>REZERWACJA</button>
    <button mat-button routerLink="kontakt">KONTAKT</button>
    <button mat-button routerLink="regulamin">REGULAMIN</button>
    <button mat-button routerLink="logowanie">LOGOWANIE</button>
    <button mat-button routerLink="rejestracja">REJESTRACJA</button>
  </div>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
