<mat-toolbar color="primary">
  <div class="menu">
    <button mat-button routerLink="app">STRONA GŁÓWNA</button>
    <button mat-button>REZERWACJA</button>
    <button mat-button routerLink="kontakt">KONTAKT</button>
    <button mat-button routerLink="regulamin">REGULAMIN</button>
    <button mat-button routerLink="logowanie">LOGOWANIE</button>
    <button mat-button routerLink="rejestracja">REJESTRACJA</button>
  </div>
</mat-toolbar>
<div class="content">
  <app-glowna-opis></app-glowna-opis>
  <div class="galeria">
      <div class="galeria-left">
        <app-carousel [images]="images" [autoSlide]="true" [controls]="false"></app-carousel>
      </div>
      <div class="galeria-right">

      </div>
  </div>
  <router-outlet></router-outlet>
</div>
<app-stopka></app-stopka>
